<!DOCTYPE html>
<html>
  <head>
    <title>MoversAndShakers</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= yield %>
    <h1>Stock Data</h1>
  <ul>
  <% @data.each do |date, data| %>
    <li><%= date %>: <%= data['4. close'] %></li>
  <% end %>
</ul>

  </body>
</html>
